Source: sphinxsearch-bebanjo
Section: misc
Priority: optional
Maintainer: Bebanjo OPS <tech_admin@bebanjo.com>
Build-Depends: debhelper (>= 7), autotools-dev, gawk, libmysqlclient-dev, dpatch, libpq-dev, autoconf, libtool
Standards-Version: 3.8.3

Package: sphinxsearch-bebanjo
Architecture: any
Depends: ${misc:Depends}, automake, libc6, libgcc1, libmysqlclient18 | libmysqlclient16, libpq5, libstdc++6, zlib1g
Description: Fast standalone full-text SQL search engine
 Sphinx is a standalone full text search engine, meant to provide fast,
 size-efficient and relevant fulltext search functions to other applications. 
 Sphinx was specially designed to integrate well with SQL databases and 
 scripting languages. Currently built-in data sources support fetching data 
 either via direct connection to MySQL or PostgreSQL, or using XML pipe 
 mechanism (a pipe to indexer in special XML-based format which Sphinx 
 recognizes).
 .
 Sphinx is an acronym which is officially decoded as SQL Phrase Index. 
 Sphinx includes libstremmer_c
